/* RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CUSTOM PROPERTIES */


:root{
  --bgcolor-pink: rgb(255,192,203);
  --bgcolor-blue: rgb(30,144,255);
  --bgcolor-green: rgb(34,139,34);
  --bgcolor-purple: rgb(238,130,238);
  --bgcolor-red: rgb(240,128,128);
  --bgcolor-yellow: rgb(218,165,32);
  --bgcolor-grey: rgb(211,211,211);
  --bgcolor-light-blue: rgb(32,178,170);
  --bgcolor-aquamarine: rgb(127,255,212);
  --bgcolor-dark-blue: rgb(0,0,139);
  --bgcolor-header: rgb(173,216,230);
  --large-width: calc(1200px / 3 * 2);
  --small-width: calc(1200px / 3);
}



/* GENERALS */


/* HEADER */

header{
  height: 100px;
  background-color: var(--bgcolor-header);
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  
.header{
  background-color: var(--bgcolor-yellow);
  display: flex;
}

.hd-nav{
  display: flex;
  justify-content: center;
}

.login{
  display: flex;
  justify-content: flex-end;
}

/* POTREI ANCHE DARE UN HEIGHT ALLA CLASSE LOGO, NAV E LOGIN. */
.logo, .hd-nav, .login{
  padding: 4px;
}


/* MAIN */

.row{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-row-section{
  width: 50%;
  height: 80%;
  background-color: var(--bgcolor-purple);
}

.content{
  height: 80%;
  display: flex;
}




/* UTILITIES */

.container{
  width: 1200px;
  margin: 0 auto;
}

.bd-black{
  border: 1px dashed black;
}

.flex-grw-1{
  flex-grow: 1;
}

.bgcolor-dark-blue{
  background-color: var(--bgcolor-dark-blue);
}

.large-width{
  width: var(--large-width);
}

.small-width{
  width: var(--small-width);
}

.bgcolor-blue{
  background-color: var(--bgcolor-blue);
}

.bgcolor-pink{
  background-color: var(--bgcolor-pink);
}

.bgcolor-grey{
  background-color: var(--bgcolor-grey);
}